# Projet de Fouille de données

## Etape I : Analyse exploratoire des données

### Import des librairies

In [20]:
import pandas
import numpy
import re
from collections import Counter
import functools

### Import des données

In [60]:
data = pandas.read_csv("../data/corrupted_data.csv")
dataFrame = pandas.DataFrame(data)

### Visualisation des données

In [65]:
dataFrame

,Unnamed: 0,date,county,state,fips,cases,deaths
0,0,2020-01-21,Snohomish,Washington,53061.0,1.0,0.0
1,1,2020-01-22,Snohomish,Washington,53061.0,1.0,0.0
2,2,2020-01-23,Snohomish,Washington,53061.0,1.0,0.0
3,3,2020-01-24,Cook,Illinois,17031.0,1.0,0.0
4,4,2020-01-24,Snohomish,Washington,53061.0,1.0,0.0
...,...,...,...,...,...,...,...
800432,800432,2020-12-05,Sweetwater,Wyoming,56037.0,2098.0,10.0
800433,800433,2020-12-05,Teton,Wyoming,56039.0,1739.0,2.0
800434,800434,2020-12-05,Uinta,Wyoming,56041.0,1187.0,5.0
800435,800435,2020-12-05,Washakie,Wyoming,56043.0,519.0,8.0
800436,800436,2020-12-05,Weston,Wyoming,56045.0,419.0,2.0

In [24]:
print(dataFrame.head())

   Unnamed: 0        date     county       state     fips  cases  deaths
0           0  2020-01-21  Snohomish  Washington  53061.0    1.0     0.0
1           1  2020-01-22  Snohomish  Washington  53061.0    1.0     0.0
2           2  2020-01-23  Snohomish  Washington  53061.0    1.0     0.0
3           3  2020-01-24       Cook    Illinois  17031.0    1.0     0.0
4           4  2020-01-24  Snohomish  Washington  53061.0    1.0     0.0

In [25]:
print(list(dataFrame.columns))

['Unnamed: 0', 'date', 'county', 'state', 'fips', 'cases', 'deaths']

### Analayse exploratoire

#### Analyse exploratoire de la colonne d'identification sans nom

In [64]:
dataFrame[dataFrame[0]=="Unknown"][0].count()

KeyError: 0

In [62]:
dataFrame.count() - dataFrame[dataFrame.0.str.contains('\d+', regex = True, na = False)].count()

SyntaxError: invalid syntax. Perhaps you forgot a comma? (4059538863.py, line 1)

#### Analyse  exploratoire de la colonne date

In [40]:
dataFrame[dataFrame["date"]=="Unknown"]["date"].count()

0

In [27]:
dataFrame[dataFrame["date"]==""]["date"].count()

0

In [36]:
dateIsNull = pandas.isnull(dataFrame["date"])
dataFrame[dateIsNull == True]["date"].count()

0

In [51]:
df.count() - df[df.date.str.contains('\d{4}-\d{2}-\d{2}', regex = True, na = False)].count()

Unnamed: 0    799042
date          799042
county        798912
state         798908
fips          791362
cases         798897
deaths        782190
dtype: int64

In [52]:
df[df.date.str.contains('\d{4}-\d{2}-\d{2}', regex = True, na = False) == False]

,Unnamed: 0,date,county,state,fips,cases,deaths
1008,1008,2020.03.10,Riverside,California,6065.0,4.0,0.0
2242,2242,2020.03.14,Williamson,Tennessee,47187.0,10.0,0.0
2836,2836,2020.03.16,Sarasota,Florida,12115.0,3.0,0.0
3774,3774,2020.03.18,Kenai Peninsula Borough,Alaska,2122.0,1.0,0.0
4514,4514,2020.03.19,Windham,Connecticut,9015.0,1.0,0.0
...,...,...,...,...,...,...,...
795819,795819,2020.12.04,Niagara,New York,36063.0,4479.0,115.0
796123,796123,2020.12.04,Hughes,Oklahoma,40063.0,623.0,8.0
796776,796776,2020.12.04,Sherman,Texas,48421.0,91.0,2.0
796794,796794,2020.12.04,Tyler,Texas,48457.0,325.0,5.0
799827,799827,2020.12.05,Blanco,Texas,48031.0,191.0,6.0

In [55]:
df.count() - df[df.date.str.contains('\d{4}-\d{2}-\d{2}', regex = True, na = False)].count() - df[df.date.str.contains('\d{4}.\d{2}.\d{2}', regex = True, na = False)].count()

Unnamed: 0   -798904
date         -799042
county       -798774
state        -798770
fips         -791226
cases        -798759
deaths       -782057
dtype: int64

In [53]:
df[df.date.str.contains('\d{4}.\d{2}.\d{2}', regex = True, na = False) == False]

        Unnamed: 0 date      county      state     fips    cases  deaths
18243        18243  NaN  Black Hawk       Iowa  19013.0      6.0     0.0
25438        25438  NaN    Muskogee   Oklahoma  40101.0     13.0     1.0
26345        26345  NaN  San Miguel   Colorado   8113.0      7.0     0.0
28217        28217  NaN     Mathews   Virginia  51115.0      2.0     0.0
29487        29487  NaN     Wabasha  Minnesota  27157.0      6.0     0.0
...            ...  ...         ...        ...      ...      ...     ...
757800      757800  NaN      Panola      Texas  48365.0    523.0    34.0
768876      768876  NaN    Anderson     Kansas  20003.0    370.0     0.0
775081      775081  NaN   Champaign   Illinois  17019.0  10686.0    57.0
785062      785062  NaN        Lyon       Iowa  19119.0   1057.0     8.0
786772      786772  NaN       Henry  Tennessee  47079.0   1608.0    18.0

[138 rows x 7 columns]

Le champ date ne comporte pas de données éronnées classiques tel que des "Unknowns", des cellules vides.

In [37]:
#counter(re.findall("\d{4}-\d{2}-\d{2}", "5555-66-77")) filtre à refaire

In [11]:
df["fips"]=[abs(x) if x<0 else x for x in data["fips"]]

In [12]:
df.fips.unique()

array([53061., 17031.,  6059., ...,  2230., 32009., 48301.])

In [13]:
df["deaths"]=[abs(x) if x<=0 else x for x in data["deaths"]]

In [14]:
df[df["county"]=="Unknown"]

        Unnamed: 0        date   county         state  fips    cases  deaths
418            418  2020-03-01  Unknown  Rhode Island   NaN      2.0     0.0
450            450  2020-03-02  Unknown  Rhode Island   NaN      2.0     0.0
485            485  2020-03-03  Unknown  Rhode Island   NaN      2.0     0.0
522            522  2020-03-04  Unknown  Rhode Island   NaN      2.0     0.0
569            569  2020-03-05  Unknown  Rhode Island   NaN      2.0     0.0
...            ...         ...      ...           ...   ...      ...     ...
799602      799602  2020-12-05  Unknown  Rhode Island   NaN  10432.0    67.0
799803      799803  2020-12-05  Unknown     Tennessee   NaN    315.0     1.0
800090      800090  2020-12-05  Unknown          Utah   NaN    678.0     1.0
800107      800107  2020-12-05  Unknown       Vermont   NaN      9.0     0.0
800281      800281  2020-12-05  Unknown    Washington   NaN      2.0     2.0

[6870 rows x 7 columns]

In [15]:
df[df["state"]=="Unknown"]

Empty DataFrame
Columns: [Unnamed: 0, date, county, state, fips, cases, deaths]
Index: []

In [16]:
bool_series_county = pd.isnull(df["county"])
df[bool_series_county==True]

NameError: name 'pd' is not defined

In [ ]:
bool_series_state = pd.isnull(df["state"])
df[bool_series_state==True]

In [ ]:
bool_series_cases = pd.isnull(df["cases"])
df[bool_series_cases==True]

In [ ]:
bool_series_deaths = pd.isnull(df["deaths"])
df[bool_series_deaths==True]

In [ ]:
bool_series_fips = pd.isnull(df["fips"])
df[bool_series_fips==True]

In [ ]:
df_county_state_fips = df.iloc[:, 1:4]
df_county_state_fips

In [ ]:
bool_series = bool_series_county + bool_series_state + bool_series_fips + bool_series_deaths
bool_series

In [ ]:
df_county_state_fips[bool_series==True]
indexDf = df_county_state_fips[bool_series==True].index

In [ ]:
df_county_state_fips[bool_series==True]

In [ ]:
df_final = df[bool_series==False]
df_final

In [ ]:
df.drop(df_county_state_fips[bool_series==True].index)

In [ ]:
df.drop(df_county_state_fips[bool_series==True].index).to_csv(path_or_buf="data.csv",sep=',')